{% extends 'base.html' %}

{% block content %}
<h1>welcome to tweets mes</h1>
<div id="tweets">
    Replace me
</div>
<script>
    const tweetsElement =document.getElementById("tweets")
    tweetsElement.innerHTML="Loading  ...."

    const xhr = new XMLHttpRequest()
    const method='GET' //POST
    const url="tweets"
    const responseType="json"

    function handleDidLike(tweet_id, currentCount){ 
         console.log(tweet_id,currentCount)
          
    }

    function LikeBtn(tweet){
        return "<Button class='btn btn-primary' onclick=handleDidLike("+ tweet.id +","+ tweet.likes +")> "+tweet.likes +" Like </Button>"
    }

    xhr.responseType=responseType
    xhr.open(method,url)
    xhr.onload=function(){
        console.log(xhr.response)
        const serverResponse =xhr.response 
        var listedItems = serverResponse.response 
        var FinalTweetStr = ""
        var i;
        for (i=0;i< listedItems.length;i++)
        {
            console.log(i)
            console.log(listedItems[i].content) 
            var currentItem = "<div class='mb-4 text-primary'><h1>"+listedItems[i].id + "</h1> <p id ='"+ listedItems[i].id +"'>" +listedItems[i].content + "</p> <div class='btn-grp'>"+   LikeBtn(listedItems[i]) +"</div</div>"
            FinalTweetStr+=currentItem 
        }
        tweetsElement.innerHTML=FinalTweetStr  
        // console.log(listedItems)
    }
    xhr.send()
</script>

{% endblock content   %}
